.sidebar-link {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    transition: background-color 0.2s ease-in-out;
  }
  
  .sidebar-link:hover {
    background-color: #8681a3;
  }
.sidebar{
  position: relative;
}